<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
     ">

    <!-- 引入配置文件 -->
    <context:property-placeholder location="classpath*:httpclientConfig.properties"
                                  ignore-unresolvable="true"/>

    <!-- httpclient -->
    <!-- socketFactoryRegistry -->
    <bean id="myHttpsRegistry" class="com.sumnear.service.spring.MyHttpsRegistry"/>
    <bean id="socketFactoryRegistry" class="org.apache.http.config.Registry"
          factory-bean="myHttpsRegistry" factory-method="getSocketFactoryRegistry">
    </bean>
    <!-- httpRequestRetryHandler -->
    <bean id="myHttpRequestHandler" class="com.sumnear.service.spring.MyHttpRequestHandler"></bean>
    <bean id="httpRequestRetryHandler" class="org.apache.http.client.HttpRequestRetryHandler"
          factory-bean="myHttpRequestHandler" factory-method="getHttpRequestRetryHandler">
    </bean>
    <!--定义连接管理器 -->
    <bean id="connectionManager"
          class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
          destroy-method="close">
        <!-- 注册ssl链接 -->
        <constructor-arg type="org.apache.http.config.Registry"
                         ref="socketFactoryRegistry"></constructor-arg>
        <!-- 最大连接数 -->
        <property name="maxTotal" value="${http.maxTotal}"/>
        <!--设置每个主机最大的并发数 -->
        <property name="defaultMaxPerRoute" value="${http.defaultMaxPerRoute}"/>
    </bean>

    <!--定义HttpClient构建器 -->
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder"
          factory-method="create">
        <property name="connectionManager" ref="connectionManager"/>
        <property name="retryHandler" ref="httpRequestRetryHandler"/>
        <property name="defaultRequestConfig" ref="requestConfig"/>

    </bean>
    <!--定义httpClient对象 -->
    <bean id="httpClient" class="org.apache.http.impl.client.CloseableHttpClient"
          factory-bean="httpClientBuilder" factory-method="build" ></bean>
    <!--定义requestConfig构建器 -->
    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
        <!--设置创建连接的最长时间 -->
        <property name="connectTimeout" value="${http.connectTimeout}"/>
        <!--从连接池中获取到连接的最长时间 -->
        <property name="connectionRequestTimeout" value="${http.connectionRequestTimeout}"/>
        <!--数据传输的最长时间 -->
        <property name="socketTimeout" value="${http.socketTimeout}"/>
        <!-- 提交请求前测试连接是否可用 -->
        <!-- <property name="staleConnectionCheckEnabled" value="${http.staleConnectionCheckEnabled}"
            /> -->
    </bean>
    <!--请求参数对象 -->
    <bean id="requestConfig" class="org.apache.http.client.config.RequestConfig"
          factory-bean="requestConfigBuilder" factory-method="build"></bean>
    <!--定期清理无效连接 -->
    <bean class="org.apache.http.impl.client.IdleConnectionEvictor"
          destroy-method="shutdown">
        <constructor-arg index="0" ref="connectionManager"/>
        <constructor-arg index="1" value="${http.maxIdleTime}"/>
        <constructor-arg index="2" value="MINUTES"/>
    </bean>


    <!-- 配置扫描 springmvc 的 service 的包 -->
    <context:component-scan base-package="com.sumnear.service.spring"/>
</beans>
